*{
  box-sizing: border-box;
}

body{
  margin:0;
  overflow-x:hidden;
}

.navbar-fixed {
  opacity: 0.8;
}

.brand-logo {
  display: block;
}
 
/* Video Header */
.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto; 
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#225470;
  opacity:0.85;
}

.header-content {
  z-index:2;
}

.header-content h1 {
  font-size:50px;
  margin-bottom:0;
  font-weight: bold;
  text-shadow: 2px 2px black;

}

.header-content p{
  font-size: 20px;
  display: block;
  padding-bottom: 2rem;
}

.btn{
  background: #34b3a0;
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.section{
  padding:20px 0;
}

.section-b{
  background:#333;
  color:#fff;
}

@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}


/* Nav */
.brand-logo {
  margin-left: 20px;
}

.right {
  padding-right: 20px;
}


/* Services */
#services {
  margin-top: -40px;
}

.card-title {
  font-weight: bold;
  text-shadow: 2px 2px black;
}


/* About */
#about {
  background-image: url("../img/aspens.jpg");
  padding: 30px;
}

#about img {
  margin-top: 20px;
}

#about h2, #about p {
  text-shadow: 2px 2px black;
}


/* Testimonials */
.carousel {
  max-height: 220px;
}

.carousel p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  
}

#contact-header {
  background: #424242;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  color: #fff;
}

#contact-header h4 {
  margin-left: 10px;
  margin-right: 10px;
}

#contact-header h5 {
  color: #ffff00;
}

#contact-form {
  margin-top: 25px;
}

.page-footer a {
  padding: 5px;
}


